Django==3.0.4
django-debug-toolbar==2.2
grimoirelab-toolkit==0.1.10
perceval==0.12.24
oauthlib==3.1.0
requests-oauthlib==1.3.
django-notifications-hq==1.6.0
django-crispy-forms==1.9.1
django-totd==1.0.1
