<html>
    <head>
    <link rel="icon" href="/static/savannah/Savannah32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/static/savannah/Savannah64.png" type="image/png" sizes="64x64">
    <link rel="icon" href="/static/savannah/Savannah128.png" type="image/png" sizes="128x128">
    <style>
#logo {
    position: absolute;
    top: 3px;
    left: 10px;
}
#communities_list {
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 42px 
}
#communities_list a {
    color: #028beb;
    text-shadow: -1px -1px #fefefe55;
    text-decoration: none;
}
    </style>
    {% block style %}{% endblock %}
    </head>
    <body>
        <img id="logo" src="/static/savannah/Savannah32.png" />
        <div id="communities_list">
        {% for c in communities %}
            <span style="padding: 10px;{% if c.id == community.id %}font-weight: bold;{% endif %}"><a href="{% url 'dashboard' c.id %}">{{ c.name }}</a></span>
        {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
