{% extends "savannah/base.html" %}
{% load simple_math %}

{% block style %}
<style>
body {
    font-family: sans-serif;
    background-color: #c6e9f7;
}
h2 a {
    color: #fefefe;
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
}
h2 {
    font-size: 1.2em;
    background-color: #18afee;
    background-image: linear-gradient(to bottom, #18afee, #028beb);
    border-radius: 10px 10px 0px 0px;
    color: #fefefe;
    text-shadow: 1px 1px #005ea1aa;
    padding: 5px 10px;
    margin-bottom: 0px;
}
.box {
    border: #028beb55 1px solid;
    border-top: 0px;
    margin-top: 0px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #fefefe, #f5fdff);
}
a {
    color: #028beb;
}
h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
li {
    padding-bottom: 3px
}
ul {
    margin-block-start: 5px;
    margin-block-end: 5px;
}
.timestamp {
    font-size: 0.7em;
    color: #000000aa;
}
.note {
    font-size: 0.8em;
}
.actions {
    right: 0px;
    font-size: 0.7em;
}
h2 > .actions {
    float: right;
    margin-top: 4px;    
}
.actions > a {
    margin-left: 10px;
}
</style>
{% endblock %}

{% block body %}

<table width="100%%">
<tr>
    <td valign="top" width="60%">

<h2>Tasks <span class="actions"><a target="_blank" href="/admin/corm/task/add/?community={{community.id}}&owner={{request.user.id}}">+Task</a></span></h2>
<div class="box">
<ul>
{% for task in community.task_set.all %}
{% if not task.is_done %}
<li>{% if task.is_done %}<strike>{% endif %}<a target="_blank" href="/admin/corm/task/{{task.id}}/change/">{{task.name}}</a>
{% if task.is_done %}</strike>{% else %}
<span class="timestamp">due {{task.due}}</span> {% endif %}
{% if task.tags.count %}<br/>{% include 'savannah/tags.html' with tags=task.tags.all %}{% endif %}</li>
{% if task.stakeholders.all.count %}
<ul><li><span class="note">For: {% for stakeholder in task.stakeholders.all %}{{stakeholder.name}}{% if not forloop.last %}, {% endif %}{% endfor %}</span></li></ul>
{% endif %}
{% if task.conversation %}
<ul><li><span class="note">
{{task.conversation.channel.source.name}} {{task.conversation.channel.name}}: 
{% if task.conversation.location %}<a target="_blank" href="{{task.conversation.location}}">{% endif %}{{task.conversation}}{% if task.conversation.location %}</a>{% endif %}
on {{task.conversation.timestamp}}
</span></li></ul>
{% endif %}
{% endif %}
{% endfor %}
</ul>
</div>

<h2>Projects  <span class="actions"><a target="_blank" href="/admin/corm/project/add/?community={{community.id}}">+Project</a></span></h2>
<div class="box">
<ul>
{% for project in community.project_set.all %}
<li>
<a target="_blank" href="/admin/corm/project/{{project.id}}/change">{{ project.name }}</a>
{% if project.tag %}<span style="font-size: 0.75em; margin-right: 2px; padding: 1px 5px 1px 5px; border-radius: 1em; background-color: #{{project.tag.color}};">#{{project.tag.name}}</span>{% endif %}
</li>
{% endfor %}
</ul>
</div>

<h2>Engagement <span class="actions">
    <a target="_blank" href="/admin/corm/conversation/add/">+Conversation</a> 
    <a target="_blank" href="/admin/corm/activity/add/?community={{community.id}}">+Activity</a>
    <a href='{% url 'slack_auth' %}'>+Slack</a>
</span></h2>
<div class="box">
{% for source in community.source_set.all %}
{% if source.has_engagement %}
<h4>{{source.name}}</h4>
<ul>
    {% for activity in source.activity_set.all %}
    <li>
    {% if activity.location %}<a target="_blank" href="{{activity.location}}">{% endif %}
    "{{ activity.title }}"
    {% if activity.location %}</a>{% endif %}
    <span class="timestamp">on {{activity.timestamp}}</span>
    {% if activity.tags.count %}<br/>{% include 'savannah/tags.html' with tags=activity.tags.all %}{% endif %}</li>
    {% endfor %}
    {% for channel in source.channel_set.all %}
    {% if channel.conversation_set.all.count %}
    <li>{{channel.name}}</li>
    <ul>
        {% for convo in channel.conversation_set.all|slice:"10" %}
        <li><span class="timestamp">{{convo.timestamp}}</span> {% if convo.location %}<a href="{{convo.location}}" target="_blank">{{convo}}</a>{% else %}{{convo}}{% endif %}
        <a target="_blank" href="/admin/corm/conversation/{{convo.id}}/change">&#9998;</a>
        {% if convo.tags.count %}<br/>{% include 'savannah/tags.html' with tags=convo.tags.all %}{% endif %}</li>

        {% endfor %}
        {% if channel.conversation_set.all.count > 10 %}
        <li><a target="_blank" href="/admin/corm/conversation/?channel={{channel.id}}">{{channel.conversation_set.all.count|subtract:10}} More...</a></li>
        {% endif %}
    </ul>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
</div>

    </td>
    <td valign="top">
{% if most_active %}
<h2>Most Active Members</h2>
<div class="box">
<ul>
{% for member, count in most_active %}
<li>
  <a target="_blank" href="/admin/corm/conversation/?participants__id__exact={{member.id}}">{{ member.name }}</a>
  <span class="note">{{count}} conversations</span>
</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if user_member %}
<h2>{{user_member.memberconnection_set.count}} Connections </h2>
<div class="box">
<ul>
{% for connection in user_member.memberconnection_set.all|slice:10 %}
<li>
  <a target="_blank" href="/admin/corm/conversation/?participants__id__exact={{connection.to_member.id}}">{{ connection.to_member.name }}</a>
  <span class="timestamp">{{connection.via.name}} on {{connection.timestamp}}</span>
</li>
{% endfor %}
{% if user_member.memberconnection_set.all.count > 10 %}
<li><a target="_blank" href="/admin/corm/conversation/?participants__id__exact={{user_member.id}}">{{user_member.memberconnection_set.all.count|subtract:10}} More...</a></li>
{% endif %}
</ul>
</div>
{% endif %}

<h2>{{community.member_set.count }} Members <span class="actions"><a target="_blank" href="/admin/corm/member/add/?community={{community.id}}">+Member</a></span></h2>
<div class="box">
<ul>
{% for member in community.member_set.all %}
<li><a target="_blank" href="/admin/corm/contact/?member={{member.id}}">{{ member.name }}</a> <a target="_blank" href="/admin/corm/member/{{member.id}}/change/">&#9998;</a> <a target="_blank" href="/admin/corm/note/add/?member={{member.id}}&author={{request.user.id}}">+</a>{% include 'savannah/tags.html' with tags=member.tags.all %}</li>
{% if member.note_set.all.count %}
<ul>
{% for note in member.note_set.all %}
<li><span class="note"><b>Note:</b> {{note}} <a target="_blank" href="/admin/corm/note/{{note.id}}/change/">&#9998;</a></span></li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}
</ul>
</div>

    </td>
</tr>
</table>

{% endblock %}