<h2>You last looked at {{community.name}} in {{SITE_NAME}} on {{last_seen}}</h2>

{% if new_contributors.count > 0 and new_members.count > 0 %}
<p>Since then you have gained {{new_contributors.count}} new Contributors and {{new_members.count}} new Members.</p>
{% elif new_contributors.count > 0 %}
<p>Since then you have gained {{new_contributors.count}} new Contributors.</p>
{% elif new_members.count > 0 %}
<p>Since then you have gained {{new_members.count}} new Members.</p>
{% endif %}

{% if new_contributors.count > 0 %}
<h3>New Contributors</h3>
<ul>
{% for contributor in new_contributors %}
<li><a href="{{SITE_ROOT}}{% url 'member_profile' contributor.id %}">{{contributor.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if new_members.count > 0 %}
<h3>New Members</h3>
<ul>
{% for member in new_members %}
<li><a href="{{SITE_ROOT}}{% url 'member_profile' member.id %}">{{member.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

<p><a href="{{SITE_ROOT}}{% url 'dashboard' community.id %}">View your Community</a></p>
<p><a href="{{SITE_ROOT}}{% url 'manager_preferences' community.id %}">Change your email settings</a></p>
