<h3>There was an error processing your payment</h3>

<p>We were unable to process your subscription payment of {{price}} for {{community.name}} on {{SITE_NAME}}.</p>

<p>You can view and pay your invoice at <a href="{{invoice_url}}">{{invoice_url}}</a>.</p>

<p>Otherwise will automatically attempt to reprocess this payment on {{next_attempt|date}}.</p>

<hr/>
<p><a href="{{SITE_ROOT}}{% url 'billing:manage_account' community.id %}">Manage your billing information</a></p>
<p><a href="{{SITE_ROOT}}{% url 'dashboard' community.id %}">View your Community</a></p>
