{% extends "savannahv2/base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} | Add Member{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4 col-xl-8 col-lg-7">
            <h1 class="h3 mb-0 text-gray-800">Add Member</h1>
            <a class="btn btn-primary" href="{% url 'import_upload' view.community.id %}"><i class="fas fa-file-arrow-up"></i> Import from file</a>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Member Details</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">

                <form class="form" action="{% url 'member_add' view.community.id %}" method="POST">
                {% csrf_token %}
                {{ view.form|crispy }}
                <button class="btn btn-primary" type="submit">Add</button>
                <a class="btn btn-secondary" href="{% url 'tags' view.community.id %}">Cancel</a>
                </form>
                </div>            

                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

