{% load static %}
{% load notifications_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Savannah{% block page_title %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <script src="https://kit.fontawesome.com/a160749d77.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'savannah/Savannah32.png' %}" type="image/png" sizes="32x32">
    <link rel="icon" href="{% static 'savannah/Savannah64.png' %}" type="image/png" sizes="64x64">
    <link rel="icon" href="{% static 'savannah/Savannah128.png' %}" type="image/png" sizes="128x128">

    <style>
    .short-text { display: none; }
    @media only screen and (max-width: 800px) {
        .short-text { display: inline; }
        .full-text { display: none; }

        .table { 
          font-size: 0.8em;
        }
        .table td { 
          padding: 2px 1px 2px 5px;
        }
    }
    </style>
    {% if GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{GOOGLE_ANALYTICS_ID}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{GOOGLE_ANALYTICS_ID}}');

      // GA Events
      {% for event in ga_events %}
      {{ event.gtag }}
      {% endfor %}
      {% block extra_google_analytics %}{% endblock %}
      </script>
    {% endif %}
    {% block page_styles %}{% endblock %}

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon">
          <img id="logo" src="{% static 'savannah/Savannah32.png' %}" />
        </div>
        <div class="sidebar-brand-text mx-3">Savannah</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% if active_tab == "dashboard" %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard' request.session.community %}">
          <i class="fas fa-fw fa-th-large"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Community
      </div>

      <!-- Nav Item - Members -->
      <li class="nav-item {% if active_tab == "members" %}active{% endif %}">
        <a class="nav-link" href="{% url 'members' request.session.community %}">
          <i class="fas fa-fw fa-users"></i>
          <span>Members</span></a>
      </li>

      <!-- Nav Item - Projects -->
      <li class="nav-item {% if active_tab == "projects" %}active{% endif %}">
        <a class="nav-link" href="{% url 'projects' view.community.id %}">
          <i class="fas fa-fw fa-tasks"></i>
          <span>Projects</span></a>
      </li>

      <!-- Nav Item - Conversations -->
      <li class="nav-item {% if active_tab == "conversations" %}active{% endif %}">
        <a class="nav-link" href="{% url 'conversations' request.session.community %}">
          <i class="fas fa-fw fa-comments"></i>
          <span>Conversations</span></a>
      </li>

      <!-- Nav Item - Contributions -->
      <li class="nav-item {% if active_tab == "contributions" %}active{% endif %}">
        <a class="nav-link" href="{% url 'contributions' request.session.community %}">
          <i class="fas fa-fw fa-mail-bulk"></i>
          <span>Contributions</span></a>
      </li>

      <!-- Nav Item - Connections -->
      <li class="nav-item {% if active_tab == "connections" %}active{% endif %}">
        <a class="nav-link" href="{% url 'connections' request.session.community %}">
          <i class="fas fa-fw fa-project-diagram"></i>
          <span>Connections</span></a>
      </li>

      <!-- Nav Item - Tasks -->
      <!--
      <li class="nav-item">
        <a class="nav-link" href="/admin/corm/task/" target="_blank">
          <i class="fas fa-fw fa-stopwatch"></i>
          <span>Tasks</span></a>
      </li>
      -->

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Settings
      </div>

      <!-- Nav Item - Sources -->
      <li class="nav-item {% if active_tab == "sources" %}active{% endif %}">
        <a class="nav-link" href="{% url 'sources' view.community.id %}">
          <i class="fas fa-fw fa-file-import"></i>
          <span>Sources</span></a>
      </li>

      <!-- Nav Item - Tags -->
      <li class="nav-item {% if active_tab == "tags" %}active{% endif %}">
        <a class="nav-link" href="{% url 'tags' view.community.id %}">
          <i class="fas fa-fw fa-hashtag"></i>
          <span>Tags</span></a>
      </li>

      <!-- Nav Item - Managers -->
      <li class="nav-item {% if active_tab == "community" %}active{% endif %}">
        <a class="nav-link" href="{% url 'managers' view.community.id %}">
          <i class="fas fa-fw fa-user-tie"></i>
          <span>Managers</span></a>
      </li>

      <!-- Nav Item - Managers -->
      <li class="nav-item {% if active_tab == "gifts" %}active{% endif %}">
        <a class="nav-link" href="{% url 'gifts' view.community.id %}">
          <i class="fas fa-fw fa-gifts"></i>
          <span>Gifts</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

            <!-- Community Switcher -->
            <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{active_community.icon_path}}" /><span class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100">{{active_community.name}}</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for c in communities %}
                  <a class="dropdown-item" href="{% url 'dashboard' c.id %}"><img src="{{c.icon_path}}" /> {{c.name}}</a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item " href="{% url 'add-community' %}"><i class="text-lg text-muted fas fa-plus-square align-top"> </i> New Community</a>
            </div>
            </div>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{% url 'all_members' active_community.id %}">
            <div class="input-group">
              <input name="search" {% if view.search %}value="{{view.search}}" {% endif %}type="text" class="form-control bg-light border-0 small" placeholder="Search for Member..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search" action="{% url 'all_members' active_community.id %}">
                  <div class="input-group">
                    <input name="search" type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Notifications -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Notifications -->

                {% notifications_unread as unread_count %}
                <span class="live_notify_badge badge badge-danger badge-counter">{{unread_count|default:""}}</span>
              </a>
              <!-- Dropdown - Notifications -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Notification Center
                </h6>
                <div class="messages_menu"></div>
                <a class="dropdown-item text-center small text-gray-500" href="#" onClick="mark_all_as_read()">Mark as Read</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user}}</span>
                <span class="badge badge-secondary"><i class="text-lg fas fa-user"> </i></span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                {% if view.user_member %}
                <a class="dropdown-item" href="{% url 'member_profile' view.user_member.id %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                {% endif %}
                {% if request.user.is_staff %}
                <a class="dropdown-item" href="{% url 'admin:index' %}" target="_blank">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Admin
                </a>
                {% endif %}
                <a class="dropdown-item" href="http://docs.savannahhq.com/" target="_blank">
                  <i class="fas fa-question-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                  Help
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        {% if tip %}
        <div class="alerts">
            <div class="m-3 alert {{ tip.tags }}"><strong>{% trans "Tip:" %} </strong>{{ tip.text|safe }}</div>
        </div>
        {% endif %}

        {% if messages %}
        <div class="alerts">
            {% for message in messages %}
            <div class="m-3 alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message|safe }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
        {% block page_content %}{% endblock %}
        </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Savannah HQ 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'logout' %}?next={{request.get_full_path}}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  </script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Notifications functions -->
  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  <script>
function fill_notification_badge(data) {
    var badges = document.getElementsByClassName(notify_badge_class);
    if (badges) {
        for(var i = 0; i < badges.length; i++){
            badges[i].innerHTML = data.unread_count || "";
        }
    }
}
function fill_messages_list(data) {
    var menus = document.getElementsByClassName('messages_menu');
    if (menus) {
        var messages = data.unread_list.map(function (item) {
            var message = "";
            if(typeof item.actor !== 'undefined'){
                message = "<b>" + item.actor + "</b>";
            }
            if(typeof item.verb !== 'undefined'){
                message = message + " " + item.verb;
            }
            if(typeof item.target !== 'undefined'){
                message = message + " <b>" + item.target + "</b>";
            }
            if(item.level == "error") {
               item.level = "danger";// Bootstrap
            }

            var timestamp = new Date(Date.parse(item.timestamp))
            html = '<a class="dropdown-item d-flex align-items-center" href="'+item.data.link+'">';
            html += '  <div class="mr-3">';
            html += '    <div class="icon-circle bg-'+item.level+'">';
            html += '    <i style="font-size: 1rem;" class="'+item.data.icon_name+' text-white"></i>';
            html += '    </div>';
            html += '  </div>';
            html += '  <div>';
            html += '    <div class="small text-gray-500">'+timestamp.toDateString()+'</div>';
            html += message
            html += '  </div>';
            html += '</a>';
            return html;
        }).join('')

        for (var i = 0; i < menus.length; i++){
            menus[i].innerHTML = messages;
        }
    }
}
function mark_all_as_read() {
  var r = new XMLHttpRequest();
  r.addEventListener('readystatechange', function(event){
      if (this.readyState === 4){
          if (this.status === 200){
              fetch_api_data()
          }
      }
  })
  r.open("GET", '{% url 'notifications:live_unread_notification_list' %}?max=5&mark_as_read=true', true);
  r.send();
}
  </script>
  {% register_notify_callbacks fetch=5 refresh_period=60 callbacks='fill_messages_list,fill_notification_badge' %}
  <!-- Page level custom scripts -->
  {% block page_scripts %}{% endblock %}

</body>

</html>
