{% extends 'savannahv2/blank.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %} | Branding{% endblock %}


{% block page_content %}
<!-- Login Card -->
<div class="row mt-5 justify-content-center">
<div class="col-xl-10 col-lg-10 col-md-8 col-sm-10 mb-8 mt-8 align-items-center">
<center>
    <div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="align-items-center mb-3">
            <h1>Savannah Brand</h1>
            <div class="text-left">
              <h3>Icon</h3>
              <div class="row justify-content-left align-items-end mb-3">
                <div class="text-center p-2 col"><img src="{% static 'savannah/Savannah256.png' %}"><br/>256x256</div>
                <div class="text-center p-2 col"><img src="{% static 'savannah/Savannah128.png' %}"><br/>128x128</div>
                <div class="text-center p-2 col"><img src="{% static 'savannah/Savannah64.png' %}"><br/>64x64</div>
                <div class="text-center p-2 col"><img src="{% static 'savannah/Savannah32.png' %}"><br/>32x32</div>
              </div>

              <h3>Chart Colors</h3>
              <div class="row justify-content-left mb-3">
                {% for color_hex in colors.CHART_COLORS %}
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{color_hex}};">#{{color_hex}}</div>
                {% endfor %}
              </div>
              
              <h3>Member Colors</h3>
              <div class="row justify-content-left mb-3">
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.BASE}};">BASE<br/>#{{colors.MEMBER.BASE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.COMMUNITY}};">COMMUNITY<br/>#{{colors.MEMBER.COMMUNITY}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.STAFF}};">STAFF<br/>#{{colors.MEMBER.STAFF}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.BOT}};">BOT<br/>#{{colors.MEMBER.BOT}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.LIGHT}};">LIGHT<br/>#{{colors.MEMBER.LIGHT}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.JOINED}};">JOINED<br/>#{{colors.MEMBER.JOINED}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.ACTIVE}};">ACTIVE<br/>#{{colors.MEMBER.ACTIVE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.MEMBER.RETURNING}};">RETURNING<br/>#{{colors.MEMBER.RETURNING}}</div>
              </div>
              
              <h3>Level Colors</h3>
              <div class="row justify-content-left mb-3">
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.LEVEL.CORE}};">CORE<br/>#{{colors.LEVEL.CORE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.LEVEL.CONTRIBUTOR}};">CONTRIBUTOR<br/>#{{colors.LEVEL.CONTRIBUTOR}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.LEVEL.PARTICIPANT}};">PARTICIPANT<br/>#{{colors.LEVEL.PARTICIPANT}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.LEVEL.VISITOR}};">VISITOR<br/>#{{colors.LEVEL.VISITOR}}</div>
              </div>
              
              <h3>Conversation Colors</h3>
              <div class="row justify-content-left mb-3">
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.CONVERSATION.BASE}};">BASE<br/>#{{colors.CONVERSATION.BASE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.CONVERSATION.LIGHT}};">LIGHT<br/>#{{colors.CONVERSATION.LIGHT}}</div>
              </div>
              
              <h3>Contribution Colors</h3>
              <div class="row justify-content-left mb-3">
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.CONTRIBUTION.BASE}};">BASE<br/>#{{colors.CONTRIBUTION.BASE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.CONTRIBUTION.LIGHT}};">LIGHT<br/>#{{colors.CONTRIBUTION.LIGHT}}</div>
              </div>
              
              <h3>Activity Colors</h3>
              <div class="row justify-content-left mb-3">
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.ACTIVITY.BASE}};">BASE<br/>#{{colors.ACTIVITY.BASE}}</div>
                <div class="text-center p-2 col-2 text-nowrap text-gray-900" style="background: #{{colors.ACTIVITY.LIGHT}};">LIGHT<br/>#{{colors.ACTIVITY.LIGHT}}</div>
              </div>
              
            </div>
        </div>
    </div>
    </div>
</center>
</div>
</div>
{% endblock %}