{% extends "savannahv2/base.html"%}
{% load static %}
{% load humanize member_utils %}

{% block page_title %} | {{view.community.name}} Companies{% endblock %}

{% block page_alerts %}
          {% if view.suggestion_count %}
          <div class="alerts">
              <div class="m-3 alert alert-info">You have <b>{{view.suggestion_count }}</b> <a href="{% url 'company_suggestions' view.community.id %}">company suggestion{% if view.suggestion_count > 1 %}s{% endif %}</a></div>
          </div>
          {% endif %}
{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Member Companies</h1>
            {% include 'savannahv2/filter_button.html' %}
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-8 mb-8">

              <!-- New Members-->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Companies</h6>
                  <div>
                    <a class="m-0 btn btn-sm btn-success text-white" href="{% url 'company_add' view.community.id %}"><i class="fas fa-plus"></i> Add</a>
                    <a class="m-0 btn btn-sm btn-secondary text-white" href="{% url 'company_lookup' view.community.id %}"><i class="fas fa-search"></i> Lookup</a>
                  </div>
                </div>
                <div class="card-body p-0">
                <div>
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col"  width="40%">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Last Activity</th>
                    <th width="100px" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% for company in view.all_companies %}
                <tr>
                  <td>
                    {{company.logo_url|icon:'fas fa-building'}}
                    <a href="{% url 'company_profile' company.id %}">
                    {{ company.name }}
                    </a>
                    {% include 'savannahv2/tag_list.html' with tag=company.tag %}
                  </td>
                  <td >{{company.member_count|intcomma}}</td>
                  <td >{{company.last_activity|date}}</td>
                  <td class="text-center pr-1">
                    <form class="inline-form" action="{% url 'companies' view.community.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-danger" type="submit" name="delete_company" value="{{company.id}}" title="Delete Company"><i class="fas fa-trash"> </i></button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <a class="text-muted" href="https://clearbit.com">Logos provided by Clearbit</a>
              </div>

            </div>

              <div class="col-xl-4 col-lg-5">

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{view.assignment_chart.title}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{view.assignment_chart.id}}"></canvas>
                  </div>
                </div>
              </div>

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{view.members_chart.title}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{view.members_chart.id}}"></canvas>
                  </div>
                </div>
              </div>

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{view.conversations_chart.title}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{view.conversations_chart.id}}"></canvas>
                  </div>
                </div>
              </div>
              
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{view.contributions_chart.title}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{view.contributions_chart.id}}"></canvas>
                  </div>
                </div>
              </div>
              
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}

{% endblock %}