{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_title %} | {{view.company.name}} Merge{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><a href="{% url 'company_profile' view.company.id %}"><i class="fas fa-arrow-left"></i></a> {{view.company.name}}</h1>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Company</h6>
                  <a class="text-gray-500" href="{% url 'company_edit' view.company.id %}"><i class="fas fa-edit"> </i>Edit</a>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">
                  {% if view.company.domains.count %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Domains</div>
                    <div class="mb-2 col-lg-10">
                    {% for domain in view.company.domains.all %}
                      {{domain.domain}}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                  {% if view.company.groups.count %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Sources</div>
                    <div class="mb-2 col-lg-10">
                      {% for group in view.company.groups.all %}
                      {% if group.get_external_url %}
                        <a href="{{group.get_external_url}}" target="_blank"><i class="{{group.source.icon_name}}"></i> {{group.name}}</a>
                      {% else %}
                        <i class="{{group.source.icon_name}}"></i> {{group.name}}
                      {% endif %}
                      {% if not forloop.last %}<br/>{% endif %}
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>            

                </div>
              </div>
            </div>

          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Most Active Users-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="font-weight-bold">
                    <form class="inline-form" action="{% url 'company_merge' view.company.id %}" method="GET">
                    Search: <input name="search" value="{{view.search|default:''}}">
                    </form>
                  </div>
                </div>
                <div class="card-body p-0 table-responsive">
                <form class="inline-form" action="{% url 'company_merge' view.company.id %}" method="POST">
                {% csrf_token %}
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Domains</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for match in view.possible_matches %}
                <tr>
                  <td>{{match.name}}</td>
                  <td>{{match.member_set.count}}</td>
                  <td>{{match.domains.count}}</td>
                  <td><button class="btn btn-primary" type="submit" name="merge_with" value="{{match.id}}" >Merge</button></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </form>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

