{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_styles %}
<script src="https://d3js.org/d3.v5.min.js"></script>
{% endblock %}

{% block page_title %} | {{view.community.name}} Connections{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Connections</h1>
            {% include 'savannahv2/filter_button.html' with current_tag=view.tag%}
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Area Chart -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Community Network{% if view.timespan > 30 %} (30 Days){% endif %}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area" style="height: 600px;">
                    <div id="connectionsChart"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Connections over time</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="historyChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Connections by Source (6 months)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="sourcesChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}
<script>

// set the dimensions and margins of the graph
var chartSpace = d3.select("#connectionsChart")._groups[0][0];
var availableWidth = chartSpace.offsetWidth;

var margin = {top: 10, right: 30, bottom: 30, left: 40},
  width = availableWidth - margin.left - margin.right,
  height = 600 - margin.top - margin.bottom;
var radius = 5

// append the svg object to the body of the page
var svg = d3.select("#connectionsChart")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");


function color() {
  const scale = d3.scaleOrdinal(d3.schemeCategory10);
  return d => scale(d.group);
}

function drag (simulation) {
  
  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }
  
  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }
  
  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }
  
  return d3.drag()
      .on("start", dragstarted)
      .on("drag", dragged)
      .on("end", dragended);
}

d3.json("{% url 'connections_json' view.community.id %}{% if view.tag %}?tag={{view.tag.name}}{% endif %}")
  .then(function( data) {

  console.log(data);

 
  const links = data.links.map(d => Object.create(d));
  const nodes = data.nodes.map(d => Object.create(d));

  const simulation = d3.forceSimulation(nodes)
      .force("link", d3.forceLink(links).distance(50).id(d => d.id))
      .force("collision", d3.forceCollide().radius(d => Math.min(25, Math.max(5, 100*(d.connections/nodes.length)))))
      .force("charge", d3.forceManyBody().strength(Math.max(-50, Math.min(-10, -(100-(nodes.length))))))
      .force("center", d3.forceCenter(width / 2, height / 2));

//  const svg = d3.select("#my_dataviz").append("svg")
//      .attr("viewBox", [0, 0, width, height]);

  const link = svg.append("g")
      .attr("stroke", "#999")
      .attr("stroke-opacity", 0.6)
    .selectAll("line")
    .data(links)
    .join("line")
      .attr("stroke-width", d => Math.sqrt(d.value));

  const node = svg.append("g")
      .attr("stroke", "#fff")
      .attr("stroke-width", 1.5)
    .selectAll("circle")
    .data(nodes)
    .join("circle")
      .attr("r", d => Math.min(25, Math.max(5, 100*(d.connections/nodes.length))))
      .attr("fill", d => '#'+d.color)
      .call(drag(simulation));

  node.append("title")
      .text(d => d.name);

  node.on("dblclick", d => window.location = "/member/"+d.id+"/")

  simulation.on("tick", () => {
    node
        .attr("cx", d => Math.max(0 - margin.left + radius, Math.min(width + margin.right - radius, d.x)))
        .attr("cy", d => Math.max(0 - margin.top + radius, Math.min(height + margin.bottom - radius, d.y)));

    link
        .attr("x1", d => Math.max(0 - margin.left + radius, Math.min(width + margin.right - radius, d.source.x)))
        .attr("y1", d => Math.max(0 - margin.top + radius, Math.min(height + margin.bottom - radius, d.source.y)))
        .attr("x2", d => Math.max(0 - margin.left + radius, Math.min(width + margin.right - radius, d.target.x)))
        .attr("y2", d => Math.max(0 - margin.top + radius, Math.min(height + margin.bottom - radius, d.target.y)));

  });

  return svg.node();
});



// Area Chart Example
var ctx = document.getElementById("historyChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{view.connections_chart_months|safe}},
    datasets: [{
      label: "Member Connections",
      lineTension: 0.3,
      backgroundColor: "#1cc88a22",
      borderColor: "#1cc88a",
      pointRadius: 3,
      pointBackgroundColor: "#1cc88a",
      pointBorderColor: "#1cc88a",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#1cc88a",
      pointHoverBorderColor: "#1cc88a",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{view.connections_chart_counts|safe}},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          beginAtZero: false,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + tooltipItem.yLabel;
        }
      }
    }
  }
});

var ctx = document.getElementById("sourcesChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{view.source_names|safe}},
    datasets: [{
      data: {{view.source_counts|safe}},
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#7dc5fe', '#cceecc', '#ffa280', '#4e73df', '#1cc88a', '#36b9cc', '#7dc5fe', '#cceecc', '#ffa280'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true
    },
    cutoutPercentage: 0,
  },
});
  </script>
{% endblock %}