{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_title %} | {{view.community.name}} Contributions{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Contributions</h1>
            {% include 'savannahv2/filter_button.html' with current_tag=view.tag%}
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Contributions</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="contributionsChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Contributions by Channels</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="channelChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Recently Active -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Contributors</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Member</th>
                    <th scope="col"><span class="short-text"></span><span class="full-text">Date</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for member, date in view.recent_contributors %}
                <tr>
                  <td>
                    <a href="{% url 'member_profile' member.id %}"><i class="{{member.icon_name}}" title="{{member.get_role_display}}"></i>&nbsp;{{ member.name }}</a>
                    {% include 'savannahv2/tag_list.html' with tags=member.tags.all %}
                  </td>
                  <td>{{date}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>
            </div>
            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Top Contributors -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Top Contributors</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Member</th>
                    <th scope="col"><span class="short-text">Contrib.</span><span class="full-text">Contributions</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for member, count in view.top_contributors %}
                <tr>
                  <td>
                    <a href="{% url 'member_profile' member.id %}"><i class="{{member.icon_name}}" title="{{member.get_role_display}}"></i>&nbsp;{{ member.name }}</a>
                    {% include 'savannahv2/tag_list.html' with tags=member.tags.all %}
                  </td>
                  <td>{{count}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Top Supporters -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Top Supporters</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Member</th>
                    <th scope="col"><span class="short-text">Conv.</span><span class="full-text">Conversations</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for member, convo_count in view.top_supporters %}
                <tr>
                  <td>
                    <a href="{% url 'member_profile' member.id %}"><i class="{{member.icon_name}}" title="{{member.get_role_display}}"></i>&nbsp;{{ member.name }}</a>
                    {% include 'savannahv2/tag_list.html' with tags=member.tags.all %}
                  </td>
                  <td>{{convo_count}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>

            </div>

            <!-- Content Column -->
            <div class="col-lg-6 mb-4">

              <!-- Top Enablers -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Top Enablers</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Member</th>
                    <th scope="col"><span class="short-text">Conn.</span><span class="full-text">Contributors</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for member, convo_count in view.top_enablers %}
                <tr>
                  <td>
                    <a href="{% url 'member_profile' member.id %}"><i class="{{member.icon_name}}" title="{{member.get_role_display}}"></i>&nbsp;{{ member.name }}</a>
                    {% include 'savannahv2/tag_list.html' with tags=member.tags.all %}
                  </td>
                  <td>{{convo_count}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>

            </div>

          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- All Contributions -->
              <a name="conversations" />
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Contributions</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Channel</th>
                    <th scope="col">Date</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                  </tr>
                </thead>
                <tbody>
                {% for contribution in view.all_contributions %}
                <tr>
                  <td class="text-nowrap">
                  <i class="{{contribution.source_icon}}"></i> 
                  {% if contribution.channel_name %}
                    {{contribution.channel_name}}
                  {% else %}
                    {{ contribution.source_name }}
                  {% endif %}
                  </td>
                  <td>{{contribution.timestamp}}</td>
                  <td>
                    <a target="_blank" href="{{contribution.location|default:"#"}}">{{ contribution.title }}</a>
                    {% include 'savannahv2/tag_list.html' with tags=contribution.tags.all %}
                  </td>
                  <td>{% if contribution.author_name %}<a href="{% url 'member_profile' contribution.author_id %}">{{contribution.author_name}}</a>{% endif %}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>

                {% if view.has_pages %}
                <nav aria-label="Contribution table pages">
                  <ul class="pagination justify-content-center">
                    <li class="page-item {% if view.page <= 1 %}disabled{% endif %}">
                      <a class="page-link" href="?{% if view.search %}search={{view.search}}&{% endif %}page=1#conributions" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    {% for page in view.page_links %}
                      <li class="page-item{% if view.page == page %} active{% endif %}"><a class="page-link" href="?{% if view.search %}search={{view.search}}&{% endif %}page={{page}}#conributions">{{page}}</a></li>
                    {% endfor %}
                    <li class="page-item{% if view.page >= view.last_page %} disabled{% endif %}">
                      <a class="page-link" href="?{% if view.search %}search={{view.search}}&{% endif %}page={{view.last_page}}#conributions" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{{Next}}</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                {% endif %}


                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}
  <script>
// Area Chart Example
var ctx = document.getElementById("contributionsChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{view.contributions_chart_months|safe}},
    datasets: [{
      label: "Contributions",
      lineTension: 0.3,
      backgroundColor: "#f6c23e22",
      borderColor: "#f6c23e",
      pointRadius: 3,
      pointBackgroundColor: "#f6c23e",
      pointBorderColor: "#f6c23e",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#f6c23e",
      pointHoverBorderColor: "#f6c23e",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{view.contributions_chart_counts|safe}},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          beginAtZero: true,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + tooltipItem.yLabel;
        }
      }
    }
  }
});
  </script>
  <script>
var ctx = document.getElementById("channelChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{view.channel_names|safe}},
    datasets: [{
      data: {{view.channel_counts|safe}},
      backgroundColor: {{view.channel_colors|safe}},
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true
    },
    cutoutPercentage: 0,
  },
});
  </script>
{% endblock %}