          <span id="filter-bar" class="">
            <span class="dropdown">
            {% if view.timefilter == 'timespan' and view.timespan == view.MAX_TIMESPAN %}
              <button class="btn btn-light text-muted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-calendar"></i> Past Year</button>
            {% elif view.timefilter == 'range' %}
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="{{view.timespan_icon}}"></i> {{view.rangestart|date}}{% if view.rangestart.date != view.rangeend.date %} - {{view.rangeend|date}}{% endif %}</button>
            {% else %}
              <button style="white-space:nowrap;" class="btn dropdown-toggle btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="{{view.timespan_icon}}"></i> {{view.timespan_display}}</button>
            {% endif %}
              <div class="dropdown-menu animated--fade-in " aria-labelledby="dropdownMenuButton" style="min-width: 20rem;">
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan={{view.MAX_TIMESPAN}}"><i class="fas fa-calendar"></i> Past Year</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=183"><i class="fas fa-calendar"></i> 6 Months</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=90"><i class="fas fa-calendar-alt"></i> 90 Days</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=30"><i class="fas fa-calendar-alt"></i> 30 Days</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=7"><i class="fas fa-calendar-week"></i> Last Week</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=1"><i class="fas fa-calendar-day"></i> Today</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-header">Custom Range</div>
                    <form method="GET" action="" class="input-group input-daterange pr-1 pl-1">
                        <input type="text" class="form-control text-sm" name="rangestart" value="{% if view.timefilter == 'range'%}{{view.rangestart|date:'Y-m-d'}}{% endif %}">
                        <div class="input-group-append"><span class="input-group-text" id="basic-addon2">to</span></div>
                        <input type="text" class="form-control" name="rangeend" value="{% if view.timefilter == 'range'%}{{view.rangeend|date:'Y-m-d'}}{% endif %}">
                        <div class="input-group-append"><button class="btn btn-primary btn-sm input-group-text" type="submit"><i class="fas fa-chevron-right"> </i></button></div>
                    </form>             
              </div>
            </span>
            <span class="dropdown">
            {% if view.member_tag %}
              {% if view.role %}
                <button style="white-space:nowrap; background-color: #{{view.member_tag.color}};" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="color: #{{view.member_tag.color}}aa" class="tag-text"><i class="{% if view.role == "community"%}fas fa-user{% elif view.role == "staff" %}fas fa-user-tie{% else %}fas fa-robot{% endif %}"></i> {{view.member_tag.name}}</span></button>
              {% else %}
                <button style="white-space:nowrap; background-color: #{{view.member_tag.color}};" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="color: #{{view.member_tag.color}}aa" class="tag-text"><i class="fas fa-users"></i> {{view.member_tag.name}}</span></button>
              {% endif %}
            {% else %}
              {% if view.role %}
                <button style="white-space:nowrap;" class="btn dropdown-toggle btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="{% if view.role == "community"%}fas fa-user{% elif view.role == "staff" %}fas fa-user-tie{% else %}fas fa-robot{% endif %}"></i> {% if view.role == "community"%}Community{% elif view.role == "staff" %}Staff{% else %}Bots{% endif %}</button>
              {% else %}
                <button class="btn btn-light text-muted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i> Members</button>
              {% endif %}
            {% endif %}

              <div class="dropdown-menu animated--fade-in " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}role="><i class="fas fa-users"></i> All Members</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}role=community"><i class="fas fa-user"></i> Community</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}role=staff"><i class="fas fa-user-tie"></i> Staff</a>
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}role=bot"><i class="fas fa-robot"></i> Bots</a>
                    <div class="dropdown-divider">Member Tag</div>
                    <a style="white-space:nowrap; color:#5a5c69;" class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}member_tag="><i class="fas fa-tags"></i> Any Tags</a>
                    {% for tag in view.community.tag_set.all %}
                    <a style="white-space:nowrap; background-color: #{{tag.color}};" class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}member_tag={{tag.name}}"><span style="color: #{{tag.color}}aa" class="tag-text"><i class="fas fa-hashtag"></i> {{tag.name}}</span></a>
                    {% endfor %}
              </div>
            </span>
          {% if not members_only %}
            <span class="dropdown">
            {% if view.tag %}
              <button style="white-space:nowrap; background-color: #{{view.tag.color}};" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span style="color: #{{view.tag.color}}aa" class="tag-text"><i class="fas fa-hashtag"></i> {{view.tag.name}}</span></button>
            {% else %}
              <button class="btn btn-light text-muted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tags"></i> Tags</button>
            {% endif %}
              <div class="dropdown-menu animated--fade-in " aria-labelledby="dropdownMenuButton">
                    <a style="white-space:nowrap; color:#5a5c69;" class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}tag="><i class="fas fa-times"></i> Clear</a>
                    {% for tag in view.community.tag_set.all %}
                    <a style="white-space:nowrap; background-color: #{{tag.color}};" class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}tag={{tag.name}}"><span style="color: #{{tag.color}}aa" class="tag-text"><i class="fas fa-hashtag"></i> {{tag.name}}</span></a>
                    {% endfor %}
              </div>
            </span>
          {% endif %}

          {% if view.filter.contrib_type %}
          <!-- Contribution type -->
           <span class="dropdown">
              {% if view.contrib_type %}
                <button style="white-space:nowrap;" class="btn dropdown-toggle btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shield-alt"></i> {{view.contrib_type}}</button>
              {% else %}
                <button class="btn btn-light text-muted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-shield-alt"></i> Type</button>
              {% endif %}

              <div class="dropdown-menu animated--fade-in " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}type="> All Types</a>
                    <div class="dropdown-divider"></div>
                    {% for contrib_type in view.community.contribution_type_names %}
                    <a class="dropdown-item p-2" href="?{% if view.search %}search={{view.search}}&{% endif %}type={{contrib_type}}">{{contrib_type}}</a>
                    {% endfor %}
              </div>
            </span>
            {% endif %}
            
            {% if view.tag or view.member_tag or view.role or view.timespan != view.MAX_TIMESPAN %}
            <a class="align-baseline text-secondary" href="?{% if view.search %}search={{view.search}}&{% endif %}timespan=&role=&tag=&member_tag=" title="Clear filters"><i class="fas fa-times"> </i></a>
            {% endif %}
          <span>
