{% extends "savannahv2/blank.html" %}
{% load humanize static %}

{% block page_title %} | Communities{% endblock %}

{% block page_content %}
{% if communities %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
<h1 class="h1 mb-0 text-white">Your Communities</h1>
</div>

<!-- Content Row -->
<div class="row">

{% for community in communities %}
<!-- Members Card -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100 py-2">
    <a href="{% url 'dashboard' community.id %}">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
        <div class="col mr-2">
            <div class="h5 font-weight-bold text-gray-800 text-uppercase mb-1">{{community.name}}</div>
            <div class="text-sm mb-0 font-weight-bold text-gray-800">{{community.member_set.all.count|intcomma}} Members</div>
        </div>
        <div class="col-auto">
            <img src="{{community.icon_path}}">
        </div>
        </div>
    </div>
    </a>
    </div>
</div>
{% endfor %}

</div>
<!-- End row -->

{% else %}

<!-- Content Row -->
<div class="row mt-5 justify-content-center">
<div class="col-xl-6 col-md-6 mb-8 mt-8 align-items-center">
<center>
    <div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="align-items-center">
            <h2>You have no communities</h2>
            <img id="logo" src="{% static 'savannah/Savannah256.png' %}" />
            <div>

            {% if BETA %}
                {% if OPEN_BETA %}
                <p>Savannah is currently in a open-beta program. </p>
                <p>You can get free early-access to Savannah to help us test it and provide feedback while we build it.</p>
                <p><a class="btn btn-primary" href="{% url 'add-community' %}">Become a Beta Tester</a></p>
                {% else %}
                <p>Savannah is currently in a closed-beta program. </p>
                <p>If you would like to become a beta-tester, <a href="https://join.slack.com/t/savannahcommunity/shared_invite/zt-fi84m113-JhDiFgN7J0h6DPL~FlwT7w" target="_blank">join our Slack</a></p>
                {% endif %}
            {% else %}
            <a class="btn btn-success mt-3" href="{% url 'billing:signup' %}">Start Your Community</a>
            {% endif %}
            </div>
        </div>
    </div>
    </div>
</center>
</div>
</div>
<!-- End row -->

{% endif %}

{% endblock %}