{% extends 'savannahv2/blank.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %} | Login{% endblock %}

{% block page_styles %}
<style>
ul.errorlist {
    color: red;
    background: #FF000033;
    border: #ff0000 1px solid;
    list-style: none;
    padding-inline-start: 1rem;
}
ul.errorlist li {
  display: block;
}
</style>
{% endblock %}
{% block page_content %}
<!-- Login Card -->
<div class="row mt-5 justify-content-center">
<div class="col-xl-7 col-md-7 mb-8 mt-8 align-items-center">
<center>
    <div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="align-items-center mb-3">
        <img id="logo" src="{% static 'savannah/Savannah256.png' %}" />
            <h2>Welcome to Savannah</h2>
            <div>
            <ul class="nav nav-pills justify-content-center mb-2" id="localTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link {% if action != 'signup' %}active{% endif %}" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if action == 'signup' %}active{% endif %}" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="false">Signup</a>
              </li>
            </ul>
            <div class="tab-content" id="localFormContent">
              <div class="tab-pane fade {% if action != 'signup' %}show active{% endif %}" id="login" role="tabpanel" aria-labelledby="login-tab">
                <form action="#" method="POST" class="form">
                    {% csrf_token %}
                    <table class="table">
                    {{ login_form }}
                    </table>
                    <button class="btn btn-success" type="submit" name="action" value="login">Login</button>
                </form>
              </div>
              <div class="tab-pane fade {% if action == 'signup' %}show active{% endif %}" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                <form action="#" method="POST" class="form">
                    {% csrf_token %}
                    <table class="table">
                    {{ signup_form }}
                    </table>
                    <button class="btn btn-success" type="submit" name="action" value="signup">Signup</button>
                </form>
              </div>
            </div>
        </div>
        </div>
        <a href="https://docs.savannahhq.com" target="docs"><i class="fas fa-question-circle text-400"></i> Learn More</a
    </div>
    </div>
</center>
</div>
</div>
{% endblock %}