{% extends "savannahv2/base.html"%}
{% load static %}
{% load humanize %}

{% block page_title %} | {{view.community.name}} Settings{% endblock %}

{% block page_content %}
<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{view.community.name}} Settings</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-xl-8 col-lg-9 mb-8">

              <!-- Managers -->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Managers</h6>
                  <a class="m-0 btn btn-sm btn-success text-white" href="{% url 'manager_invite' view.community.id %}"><i class="fas fa-user-plus"></i> Invite</a>
                </div>
                <div class="card-body p-0">
                <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col" width="25%">Username</th>
                    <th scope="col" width="25%">Name</th>
                    <th scope="col" width="25%">Email</th>
                    <th scope="col" width="25%">Last Active</th>
                  </tr>
                </thead>
                <tbody>
                {% for manager in view.all_managers %}
                <tr>
                  <td>{{manager.user.username}}</td>
                  <td>{{manager}}</td>
                  <td>{% if manager.email %}<a href="mailto:{{manager.email}}">{{manager.email}}</a>{% endif %}</td>
                  <td>{{manager.last_seen|default:'-'}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                </div>
              </div>


              <!-- Invitations -->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Pending Invitations</h6>
                </div>
                <div class="card-body p-0">
                <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col" width="30%">Email</th>
                    <th scope="col" width="20%">Invited By</th>
                    <th scope="col" width="20%">Invited Date</th>
                    <th scope="col" width="20%">Expires</th>
                    <th scope="col" width="10%">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for invite in view.invitations %}
                <tr>
                  <td><a href="mailto:{{invite.email}}">{{invite.email}}</a></td>
                  <td>{{invite.invited_by}}</td>
                  <td>{{invite.timestamp}}</td>
                  <td>{{invite.expires}}</td>
                  <td class="text-nowrap">
                    <form class="form-inline d-inline" action="{% url 'resend_invite' community_id=view.community.id %}" method="POST">{% csrf_token %}<input type="hidden" name="invite_id" value="{{invite.id}}"><button type="submit" class="btn btn-sm btn-primary" title="Resend Invitation"><i class="fas fa-share"></i></button></form>
                    <form class="form-inline d-inline" action="{% url 'revoke_invite' community_id=view.community.id %}" method="POST">{% csrf_token %}<input type="hidden" name="invite_id" value="{{invite.id}}"><button type="submit" class="btn btn-sm btn-danger" title="Revoke Invitation"><i class="fas fa-trash"></i></button></form>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                </div>
              </div>

            </div>

            <!-- Profile  -->
            <div class="col-xl-4 col-lg-3">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Display Info</h6>
                  <a class="btn btn-primary btn-sm" href="{% url 'community_edit' view.community.id %}"><i class="fas fa-edit"> </i> Edit</a>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">

                <p><b>Icon: </b><img src="{{view.community.icon_path}}" /></p>
                <p><b>Name: </b>{{view.community.name}}</p>

                <p><i class="text-primary {% if view.community.suggest_tag %}fas fa-check-square{% else %}far fa-square{% endif %}"></i> Suggest Tags</p>
                <p><i class="text-primary {% if view.community.suggest_company %}fas fa-check-square{% else %}far fa-square{% endif %}"></i> Suggest Companies</p>
                <p><i class="text-primary {% if view.community.suggest_merge %}fas fa-check-square{% else %}far fa-square{% endif %}"></i> Suggest Member Merge</p>
                <p><i class="text-primary {% if view.community.suggest_contribution %}fas fa-check-square{% else %}far fa-square{% endif %}"></i> Suggest Contributions</p>
                <p><i class="text-primary {% if view.community.suggest_task %}fas fa-check-square{% else %}far fa-square{% endif %}"></i> Suggest Tasks</p>
                </div>            

                </div>
              </div>
            </div>
            
          </div>

        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}

{% endblock %}