{% extends "savannahv2/base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %} | Edit #{{view.manager.user.username}}{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Your preferences for {{view.community}}</h1>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Preferences</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">

                <p><b>Name: </b>{% if view.manager.user.first_name %}{{view.manager.user.first_name}} {{view.manager.user.last_name}}{% else %}{{view.manager.user.username}}{% endif %}</p>
                <p><b>Email: </b>{{view.manager.user.email}}</p>

                <form class="form" action="{% url 'manager_preferences' view.community.id %}" method="POST">
                {% csrf_token %}
                {{ view.form|crispy }}
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-secondary" href="{% url 'dashboard' view.community.id %}">Cancel</a>
                </form>
                </div>            

                </div>
              </div>
            </div>


          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

