{% extends "savannahv2/base.html"%}
{% load static %}
{% load humanize %}

{% block page_title %} | Leave {{view.community.name}}{% endblock %}

{% block page_content %}

          <!-- Content Row -->

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-8 mb-8">

              <!-- Leave Community-->
              <div class="card shadow mb-4 border-danger">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Leave {{view.community.name}}?</h6>
                </div>
                <div class="card-body">
                {% if view.is_owner and view.other_managers.count < 1 %}
                    <p>You are the owner of this community, and can not leave until a new owner is assigned.</p>
                    <a href="{% url 'manager_invite' view.community.id %}" class="btn btn-success">Invite a new Manager</a>
                    <a href="{% url 'manager_preferences' view.community.id %}" class="btn btn-secondary">Go back</a>
                {% else %}
                  <h4 class="h-4">Are you sure you want to leave <b>{{view.community.name}}</b>?</h4>
                  <p>After leaving you will no longer have access to manage this community.</p>
                  <form method="post" class="form">
                  {% csrf_token %}
                  {% if view.is_owner %}
                  <div class="mb-2">
                    <p>You must select another manager to become the owner of this community:</p>
                    {% for manager in view.other_managers %}
                    <input type="radio" name="new_owner" value="{{manager.id}}"> {{manager}}</input>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div>
                    <input class="btn btn-danger" type="submit" value="Yes, I’m sure">
                    <a href="{% url 'manager_preferences' view.community.id %}" class="btn btn-secondary">No, take me back</a>
                  </div>
                  </form>
                  {% endif %}
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}

{% endblock %}