{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_title %} | {{view.member.name}} Merge{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><a href="{% url 'member_profile' view.member.id %}"><i class="fas fa-arrow-left"></i></a> {{view.member.name}}</h1>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Member Actions:</div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/member/{{view.member.id}}/change/"><i class="fas fa-user-edit"> </i> Edit Member</a>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/note/add/?member={{view.member.id}}&author={{request.user.id}}"><i class="fas fa-sticky-note"> </i> Add Note<Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/memberconnection/?from_member={{view.member.id}}"><i class="fas fa-project-diagram"> </i> View Connections</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">
                  {% if view.member.tags.count %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Tags</div>
                    <div class="mb-2 col-lg-10">{% include 'savannahv2/tag_list.html' with tags=view.member.tags.all %}</div>
                  </div>
                  {% endif %}
                  {% if view.member.email_address %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Email</div>
                    <div class="mb-2 col-lg-10"><a href="mailto:{{view.member.email_address}}">{{view.member.email_address}}</a></div>
                  </div>
                  {% endif %}
                  {% if view.member.phone_number %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Phone</div>
                    <div class="mb-2 col-lg-10">{{view.member.phone_number}}</div>
                  </div>
                  {% endif %}
                  {% if view.member.mailing_address %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Address</div>
                    <div class="mb-2 col-lg-10">{{view.member.mailing_address}}</div>
                  </div>
                  {% endif %}
                  {% if view.member.note_set.count %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Notes</div>
                    <div class="mb-2 col-lg-10">
                      {% for note in view.member.note_set.all %}
                        <div class="{% if not forloop.last %}mb-3{% endif %}"><span class="small font-weight-bold">{{note.timestamp}} - {{note.author}}</span><br/><span>{{note.content|linebreaksbr}}</span></div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endif %}
                </div>            

                </div>
              </div>
            </div>

            <!-- Contacts List -->
            <div class="col-xl-4 col-lg-5">

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Identities</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Identity Actions:</div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/contact/add/?member={{view.member.id}}"><i class="fas fa-id-card"> </i> Add Identity</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/contact/?member={{view.member.id}}"><i class="fas fa-address-book"> </i> Edit Identities</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="ml-3">
                  {% for contact in view.member.contact_set.all %}
                    <div class="mb-2">{% if contact.link_url %}<a href="{{contact.link_url}}" target="_blank">{% endif %}<i class="{{contact.source.icon_name}}"></i> {{contact.detail}}{% if contact.link_url %}</a>{% endif %}</div>
                  {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Most Active Users-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <div class="font-weight-bold">
                    <form class="inline-form" action="{% url 'member_merge' view.member.id %}" method="GET">
                    Search: <input name="search" value="{{view.search|default:''}}">
                    </form>
                  </div>
                </div>
                <div class="card-body p-0">
                <form class="inline-form" action="{% url 'member_merge' view.member.id %}" method="POST">
                {% csrf_token %}
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Member</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Identies</th>
                    <th scope="col">Added</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for match in view.possible_matches %}
                <tr>
                  <td>{{match.id}}</td>
                  <td><a href="{% url 'member_profile' match.id %}">{{match.name}}</a></td>
                  <td>{{match.email_address|default:''}}</td>
                  <td>
                  {% for identity in match.contact_set.all %}
                  {% if identity.link_url %}
                    <a target="_blank" href="{{identity.link_url}}"><i class="{{identity.source.icon_name}}"></i> {{identity.detail}}</a>{% if not forloop.last %}<br/>{% endif %}
                  {% else %}
                    <i class="{{identity.source.icon_name}}"></i> {{identity.detail}}{% if not forloop.last %}<br/>{% endif %}
                  {% endif %}
                  {% endfor %}
                  </td>
                  <td>{{match.first_seen}}</td>
                  <td><button type="submit" name="merge_with" value="{{match.id}}" >Merge</button></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </form>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

