{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{view.member.name}}{% if view.tag %} <span style="white-space:nowrap; font-size: 0.75em; margin-right: 2px; padding: 1px 5px 1px 5px; border-radius: 1em; background-color: #{{view.tag.color}};">#{{view.tag.name}}<a href="?"><i class="p-1 fa fa-times"></i></a></span>{% endif %}</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Member Actions:</div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/member/{{view.member.id}}/change/"><i class="fas fa-user-edit"> </i> Edit Member</a>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/note/add/?member={{view.member.id}}&author={{request.user.id}}"><i class="fas fa-sticky-note"> </i> Add Note<Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/memberconnection/?from_member={{view.member.id}}"><i class="fas fa-project-diagram"> </i> View Connections</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div>
                    {% include 'savannahv2/tags.html' with tags=view.member.tags.all %}
                  </div>
                  <ul>
                  {% for note in view.member.note_set.all %}
                    <li>{{note.timestamp}} - {{note.content}}</li>
                  {% endfor %}
                  </li>
                </div>
              </div>
            </div>

            <!-- Contacts List -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Contacts</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Contact Actions:</div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/contact/add/?member={{view.member.id}}"><i class="fas fa-id-card"> </i> Add Contact</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="/admin/corm/contact/?member={{view.member.id}}"><i class="fas fa-address-book"> </i> Edit Contacts</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="ml-3">
                  {% for contact in view.member.contact_set.all %}
                    <div class="mb-2"><i class="{{contact.source.icon_name}}"></i> {{contact.detail}}</div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Conversations</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="conversationsChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Conversations by Channels</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="channelChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Most Active Users-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Converations</h6>
                </div>
                <div class="card-body p-0">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Channel</th>
                    <th scope="col">Content</th>
                    <th scope="col"><span class="short-text">#</span><span class="full-text">Participants</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for conversation in view.all_conversations %}
                <tr>
                  <td><i class="{{conversation.channel_icon}}"></i> {{conversation.channel_name}}</td>
                  <td>
                    <a target="_blank" href="{{conversation.location|default:"#"}}" title="{{conversation.content}}">{{ conversation }}</a>
                    {% if conversation.tag_count > 0 %}{% include 'savannahv2/tags.html' with tags=conversation.tags.all %}{% endif %}
                  </td>
                  <td>{{conversation.participant_count}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}
  <script>
// Area Chart Example
var ctx = document.getElementById("conversationsChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{view.conversations_chart_months|safe}},
    datasets: [{
      label: "Converastions",
      lineTension: 0.3,
      backgroundColor: "#1cc88a22",
      borderColor: "#1cc88a",
      pointRadius: 1,
      pointBackgroundColor: "#1cc88a",
      pointBorderColor: "#1cc88a",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#1cc88a",
      pointHoverBorderColor: "#1cc88a",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{view.conversations_chart_counts|safe}},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          beginAtZero: true,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + tooltipItem.yLabel;
        }
      }
    }
  }
});
  </script>
  <script>
var ctx = document.getElementById("channelChart");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{view.channel_names|safe}},
    datasets: [{
      data: {{view.channel_counts|safe}},
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#7dc5fe', '#cceecc', '#ffa280', '#4e73df', '#1cc88a', '#36b9cc', '#7dc5fe', '#cceecc', '#ffa280'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: true
    },
    cutoutPercentage: 0,
  },
});
  </script>
{% endblock %}