{% extends "savannahv2/base.html"%}
{% load static simple_math %}

{% block page_title %} | {{view.member.name}}{% endblock %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{view.member.name}}</h1>
            <form action="{% url 'member_watch_form' view.member.id %}" method="POST">
            {% csrf_token %}
            {% if view.is_watched %}
              <input type="hidden" name="action" value="unwatch">
              <button type="submit" class="btn btn-danger" ><i class="fas fa-eye-slash"></i> Unwatch</button>
          {% else %}
              <input type="hidden" name="action" value="watch">
              <button type="submit" class="btn btn-default" ><i class="fas fa-eye"></i> Watch</button>
            {% endif %}
            </form>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Profile  -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                  <a class="text-gray-500" href="{% url 'member_edit' view.member.id %}"><i class="fas fa-edit"> </i>Edit</a>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Active</div>
                    <div class="mb-2 col-lg-10">{{view.member.first_seen.date}} - {{view.member.last_seen.date}}</div>
                  </div>
                  {% if view.member.company %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Company</div>
                    {% if view.member.company.website %}
                    <div class="mb-2 col-lg-10"><a href="{{view.member.company.website}}" target="_blank">{{view.member.company}}</a></div>
                    {% else %}
                    <div class="mb-2 col-lg-10">{{view.member.company}}</div>
                    {% endif %}
                  </div>
                  {% endif %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Role</div>
                    <div class="mb-2 col-lg-10">{{view.member.get_role_display}}</div>
                  </div>
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Tags</div>
                    <div class="mb-2 col-lg-10">
                    <span id="tag_row">{% include 'savannahv2/tag_list.html' with tags=view.member.tags.all %}</span>
                      <span id="tag_form_dropdown" class="dropdown no-arrow">
                        <a class="dropdown-toggle small" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-tag text-gray-500"> </i>
                        </a>
                        <div class="mb-0 dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Tags:</div>
                          <form id="tags_form" action="#" method="POST" class="form">
                          {% csrf_token %}
                          {% for tag in view.community.tag_set.all %}
                          <div class="dropdown-item" style="background-color: #{{tag.color}};"><input id="tag_{{tag.id}}" name="tag_select" value="{{tag.id}}" class="p-2 tag_select form-check-input" type="checkbox" {% if tag in view.member.tags.all %}checked="1"{% endif %}><label class="form-check-label" for="tag_{{tag.id}}"><span style="color:#{{tag.color}}aa;" class="tag-text">{{tag.name}}</span></label></div>
                          {% endfor %}
                          </form>
                        </div>
                      </span>
                    </div>
                  </div>
                  {% if view.member.email_address %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Email</div>
                    <div class="mb-2 col-lg-10"><a href="mailto:{{view.member.email_address}}">{{view.member.email_address}}</a></div>
                  </div>
                  {% endif %}
                  {% if view.member.phone_number %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Phone</div>
                    <div class="mb-2 col-lg-10">{{view.member.phone_number}}</div>
                  </div>
                  {% endif %}
                  {% if view.member.mailing_address %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Address</div>
                    <div class="mb-2 col-lg-10">{{view.member.mailing_address}}</div>
                  </div>
                  {% endif %}
                  <div class="row mb-2">
                    <div class="mb-2 col-lg-2 font-weight-bold">Notes</div>
                    <div class="mb-2 col-lg-8">
                    <form class="inline-form" action="{% url 'member_profile' view.member.id %}" method="POST">
                    {% csrf_token %}                    
                      <a class="btn btn-sm btn-primary" href="#" title="Add Note" role="button" id="openNoteDialogLink" data-toggle="modal" data-target="#noteDialog">
                        <i class="fas fa-sticky-note"> </i> Add Note
                      </a>
                      <div id="notes_div">
                      {% for note in view.member.note_set.all %}
                        <div id="id_note_div_{{note.id}}" class="mb-2">
                        <span class="small font-weight-bold text-nowrap">{{note.timestamp.date}} - {{note.author_name}} <i class="fas fa-edit note_edit text-gray-500" data-target="id_note_{{note.id}}" title="Edit" >&nbsp;</i> <button class="btn btn-sm btn-default p-0" type="submit" name="delete_note" value="{{note.id}}"><i class="fas fa-trash text-gray-500" title="Delete" > </i></button></span>
                        <br/>
                        <span id="id_note_{{note.id}}" data-note_id="{{note.id}}">{{note.content|linebreaksbr}}</span>
                        </div>
                      {% endfor %}
                      </form>
                      </div>
                    </div>
                    <!-- Member Note Modal -->
                    <div class="modal fade" id="noteDialog" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Member Note</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <form id="note_form" action="#" method="POST" class="form">
                          {% csrf_token %}
                          <input id="id_note_id" type="hidden" name="note_id" value="" />
                          <div class="modal-body">
                            <div id="div_id_note_content" class="form-group"> 
                              <label for="id_note_content" class="">Note</label>
                              <div class="">
                                <textarea name="note_content" cols="40" rows="6" maxlength="256" class="textarea form-control" id="id_note_content"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="note_cancel">Cancel</button>
                            <button type="button" class="btn btn-primary" id="note_submit">Save</button>
                          </div>
                          </form>
                        </div>
                        
                      </div>
                    </div>

                  </div>
                </div>            

                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Tasks</h6>
                  <a href="{% url 'task_add' view.member.id %}" class="text-gray-500"><i class="fas fa-plus"></i> Task</a>
                </div>
                <div class="card-body p-0">
                <form action="{% url 'task_done' member_id=view.member.id %}" method="POST">
                {% csrf_token %}
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Owner</th>
                    <th scope="col">Task</th>
                    <th scope="col">Due</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for task in view.open_tasks %}
                <tr>
                  <td class="text-nowrap">{{task.owner_name}}</td>
                  <td><a href="{% url 'task_edit' member_id=view.member.id task_id=task.id %}" title="{{task.detail}}">{{task.name}}</a></td>
                  <td>{{task.due}}</td>
                  <td>
                    <button class="btn btn-sm btn-danger text-nowrap" name="mark_done" value="{{task.id}}"><i class="fas fa-check"></i> Done</a>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </form>
                </div>
              </div>

              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gifts</h6>
                  <a href="{% url 'gift_add' view.member.id %}" class="text-gray-500"><i class="fas fa-gifts"></i> Send</a>
                </div>
                <div class="card-body p-0">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Sent</th>
                    <th scope="col">Impact</th>
                    <th scope="col">Received</th>
                  </tr>
                </thead>
                <tbody>
                {% for gift in view.all_gifts %}
                <tr>
                  <td class="text-nowrap"><a href="{% url 'gift_edit' view.member.id gift.id %}">{{gift.gift_type.name}}</a>{% if gift.reason %} <i class="fas fa-info-circle text-info" data-toggle="tooltip" data-placement="right" title="{{gift.reason}}"></i>{% endif %}</td>
                  <td>{{gift.sent_date}}</td>
                  <td>{% if gift.impact == 0 %}--{% else %}{% if gift.impact > 0 %}<span class="text-success"><i class="fas fa-caret-up"></i> {% else %}<span class="text-danger"><i class="fas fa-caret-down"></i> {% endif %}{{gift.impact|abs|floatformat:-2}}%{% endif %}</td>
                  <td>{{gift.received_date|default:''}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>


            </div>

            <!-- Contacts List -->
            <div class="col-xl-4 col-lg-5">

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Identities</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Identity Actions:</div>
                      <a class="dropdown-item" href="{% url 'member_merge' view.member.id %}"><i class="fas fa-people-arrows"> </i> Merge Members</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="ml-3">
                  {% for contact in view.member.contact_set.all %}
                    <div class="mb-2">{% if contact.link_url %}<a href="{{contact.link_url}}" target="_blank">{% endif %}<i class="{{contact.source.icon_name}}" title="{{contact.source.name}}"></i> {{contact.detail}}{% if contact.link_url %}</a>{% endif %}</div>
                  {% endfor %}
                  </div>
                </div>
              </div>

              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Engagement</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="ml-3">
                  {% for level in view.member_levels %}
                    <div class="mb-2"><a href="{% url 'project_overview' view.community.id level.project.id %}"><i class="fas {% if level.project.default_project %}fa-users{% else %}fa-tasks{% endif %}"></i> {{level.project.name}}</a> - {{level.level_name}}<br/><small>{{level.timestamp}}</small></div>
                  {% endfor %}
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Activity</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="engagementChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">{{view.channels_chart.title}}</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-4 pb-2">
                    <canvas id="{{view.channels_chart.id}}"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Most Active Users-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Contributions</h6>
                </div>
                <div class="card-body p-0">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Channel</th>
                    <th scope="col">Date</th>
                    <th scope="col">Content</th>
                    <th scope="col"><span class="short-text">#</span><span class="full-text">Participants</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for contrib in view.all_contributions %}
                <tr>
                  <td class="text-nowrap"><i class="{{contrib.channel_icon}}"></i> {{contrib.channel_name}}</td>
                  <td>{{contrib.timestamp}}</td>
                  <td>
                    <a target="_blank" href="{{contrib.location|default:"#"}}" title="{{contrib.title}}">{{ contrib.title }}</a>
                    {% if contrib.tag_count > 0 %}{% include 'savannahv2/tag_list.html' with tags=contrib.tags.all %}{% endif %}
                  </td>
                  <td>
                  {% if contrib.conversation %}
                  {% for participant in contrib.conversation.participants.all %}
                    {% if participant.id != view.member.id %}
                      <a href="{% url 'member_profile' participant.id %}">{{participant.name}}</a><br/>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>

            </div>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-4">

              <!-- Most Active Users-->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Recent Conversations</h6>
                </div>
                <div class="card-body p-0 table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Channel</th>
                    <th scope="col">Date</th>
                    <th scope="col">Content</th>
                    <th scope="col"><span class="short-text">#</span><span class="full-text">Participants</span></th>
                  </tr>
                </thead>
                <tbody>
                {% for conversation in view.all_conversations %}
                <tr>
                  <td class="text-nowrap"><i class="{{conversation.channel_icon}}"></i> {{conversation.channel_name}}</td>
                  <td>{{conversation.timestamp}}</td>
                  <td>
                    <a target="_blank" href="{{conversation.location|default:"#"}}" title="{{conversation.content}}">{{ conversation }}</a>
                    {% if conversation.tag_count > 0 %}{% include 'savannahv2/tag_list.html' with tags=conversation.tags.all %}{% endif %}
                  </td>
                  <td>
                  {% for participant in conversation.participants.all %}
                    {% if participant.id != view.member.id %}
                      <a href="{% url 'member_profile' participant.id %}">{{participant.name}}</a><br/>
                    {% endif %}
                  {% endfor %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}
  <script>
$('#tag_form_dropdown').on('hide.bs.dropdown', function () {
    var tags = document.getElementsByClassName("tag_select");
    var tags_html = "";
    for (var i = 0; i < tags.length; i++){
        var tag = tags[i];
        if (tag.checked) {
          var tag_name = tag.labels[0].textContent;
          tags_html += '<span class="tag-pill" style="background-color: '+tag.parentNode.style.backgroundColor+';"><span class="tag-text" style="color: '+tag.parentNode.style.backgroundColor+';">'+tag_name+'</span></span>'

        }
    }
    var tag_form = $('form#tags_form');
    $.post( "{% url 'member_tag_form' view.member.id %}", tag_form.serialize(), function(data) {
        var tag_row = document.getElementById("tag_row");
        tag_row.innerHTML = tags_html
      },
      'json' // I expect a JSON response
    );
});

$('#note_cancel').on('click', function(event) {
  $('#noteDialog').modal('hide');
});

$('#noteDialog').on('hidden.bs.modal', function() {
  $('#note_form').trigger('reset');
  $('#id_note_id').attr('value', undefined);
  $('#id_note_content').text('');
})

$('#note_submit').on('click', function(event) {
    var note_form = $('form#note_form');
    var tstamp = new Date();
    var note_content = document.getElementById('id_note_content').value
    var note_id = document.getElementById('id_note_id').value
    $.post( "{% url 'member_note_form' view.member.id %}", note_form.serialize(), function(data) {
      if (note_id) {
        var note_node = document.getElementById('id_note_'+note_id)
        note_node.innerText = note_content;
      } else {
        note_id = data['note_id']
        var new_note = `<div id="id_note_div_${data.id}" class="mb-3"><span class="small font-weight-bold text-nowrap">${tstamp.toDateString()} - {{request.user.username}} <i class="fas fa-edit note_edit text-gray-500" data-target="id_note_${note_id}" title="Edit" >&nbsp;</i> <button class="btn btn-sm btn-default p-0" type="submit" name="delete_note" value="${note_id}"><i class="fas fa-trash text-gray-500" title="Delete" > </i></button></span><br/><span id="id_note_${note_id} data-note_id="{{note.id}}"">${note_content}</span></div>`
        var notes_div = document.getElementById("notes_div")
        notes_div.innerHTML = new_note + notes_div.innerHTML
        $('.note_edit').on('click', edit_note_dialog);
      }
      $('#note_form').trigger('reset');
      $('#noteDialog').modal('hide');
      },
      'json' // I expect a JSON response
    );
});

function edit_note_dialog(event) {
    var node_id = event.target.dataset['target'];
    var note_node = document.getElementById(node_id);
    var note_id = note_node.dataset['note_id'];
    $('#note_form').trigger('reset');
    $('#id_note_id').attr('value', note_id)
    $('#id_note_content').text(note_node.innerText)
    $('#noteDialog').modal('show');
}
$('.note_edit').on('click', edit_note_dialog);
  </script>
  <script>
// Area Chart Example
var ctx = document.getElementById("engagementChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{view.engagement_chart_months|safe}},
    datasets: [{
      label: "Conversations",
      lineTension: 0.3,
      backgroundColor: "#{{colors.CONVERSATION}}22",
      borderColor: "#{{colors.CONVERSATION}}",
      pointRadius: 1,
      pointBackgroundColor: "#{{colors.CONVERSATION}}",
      pointBorderColor: "#{{colors.CONVERSATION}}",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#{{colors.CONVERSATION}}",
      pointHoverBorderColor: "#{{colors.CONVERSATION}}",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{view.engagement_chart_conversations|safe}},
    },
    {
      label: "Contributions",
      lineTension: 0.3,
      backgroundColor: "#{{colors.CONTRIBUTION}}22",
      borderColor: "#{{colors.CONTRIBUTION}}",
      pointRadius: 1,
      pointBackgroundColor: "#{{colors.CONTRIBUTION}}",
      pointBorderColor: "#{{colors.CONTRIBUTION}}",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "#{{colors.CONTRIBUTION}}",
      pointHoverBorderColor: "#{{colors.CONTRIBUTION}}",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: {{view.engagement_chart_activities|safe}},
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          beginAtZero: true,
          // Include a dollar sign in the ticks
          callback: function(value, index, values) {
            return value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: true
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + tooltipItem.yLabel;
        }
      }
    }
  }
});
  </script>

{% endblock %}