<script>
var ctx = document.getElementById("{{chart.id}}");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: {{chart.get_data_names|safe}},
    datasets: [{
      data: {{chart.get_data_values|safe}},
      backgroundColor: {{chart.get_data_colors|safe}},
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: {{chart.show_legend|default:'true'}}
    },
    cutoutPercentage: 0,
  },
});
</script>