{% extends "savannahv2/base.html"%}
{% load static %}

{% block page_content %}

          <!-- Content Row -->

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-12">

              <!-- New Members-->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Sources</h6>
                  <div class="dropdown no-arrow">
                    <button class="m-0 btn btn-sm btn-success text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-plus"></i> Add</button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'slack_auth' %}"><i class="fab fa-slack"></i> Slack</a>
                        <a class="dropdown-item" href="{% url 'github_add' %}"><i class="fab fa-github"></i> Github</a>
                        <a class="dropdown-item" href="{% url 'discourse_auth' %}"><i class="fab fa-discourse"></i> Discourse</a>
                        <a class="dropdown-item" href="{% url 'rss_auth' %}"><i class="fas fa-globe"></i> Blog</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href=""><i class="fas fa-edit"></i> Manual Entry</a>

                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                <div class="table-responsive">
                <form class="inline-form" action="{% url 'sources' view.community.id %}" method="POST">
                {% csrf_token %}
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Channels</th>
                    <th scope="col">Members</th>
                    <th scope="col">Last Import</th>
                    <th class="text-center" width="100px" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for source in view.all_sources %}
                <tr>
                  <td>
                    <a href="{% url 'channels' view.community.id source.id %}"><i class="{{source.icon_name}}"></i> {{ source.name }}</a>
                  </td>
                  <td>{{source.channel_count}}</td>
                  <td>{{source.member_count}}</td>
                  <td>{{source.last_import|default:"-"}}</td>
                  <td class="text-center"><button class="btn btn-danger btn-sm" type="submit" name="remove_source" value="{{source.id}}" >Remove</button></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </form>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}

{% endblock %}