{% extends "savannahv2/base.html"%}
{% load static %}
{% load humanize %}

{% block page_content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Tags</h1>
          </div>

          <!-- Content Row -->

          <!-- Content Row -->
          <div class="row">

            <!-- Content Column -->
            <div class="col-lg-12 mb-12">

              <!-- New Members-->
              <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Tags</h6>
                  <a class="m-0 btn btn-sm btn-success text-white" href="{% url 'tag_add' view.community.id %}"><i class="fas fa-plus"></i> Add</a>
                </div>
                <div class="card-body p-0">
                <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Members</th>
                    <th scope="col">Channels</th>
                    <th scope="col">Conversations</th>
                    <th scope="col">Contributions</th>
                  </tr>
                </thead>
                <tbody>
                {% for tag in view.all_tags %}
                <tr style="background-color: #{{tag.color}}aa">
                  <td class="text-gray-800" >
                    <a href="{% url 'tag_edit' tag.id %}"><i class="fas fa-hashtag"></i> {{ tag.name }}</a>
                  </td>
                  <td>{{tag.member_count|intcomma}}</td>
                  <td>{{tag.channel_count|intcomma}}</td>
                  <td>{{tag.conversation_count|intcomma}}</td>
                  <td>{{tag.contribution_count|intcomma}}</td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}

{% block page_scripts %}

{% endblock %}