{% extends "savannahv2/blank.html"%}
{% load static %}


{% block page_title %} | Not Found{% endblock %}

{% block page_content %}

<!-- Members Card -->
<div class="row mt-5 justify-content-center">
<div class="col-xl-8 col-md-8 mb-8 mt-8 align-items-center">
<center>
    <div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="align-items-center">
            <h3>Not Found</h3>
            {{message}}
        </div>
    </div>
    </div>
</center>
</div>
</div>
{% endblock %}