{% extends "savannahv2/blank.html" %}
{% load humanize static simple_math %}


{% block page_title %} | Start your Community{% endblock %}

{% block page_styles %}
  <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block page_content %}

<!-- Content Row -->
<div class="row mt-5 justify-content-center">
<div class="col-xl-10 col-md-12 mb-5 mt-8 align-items-center">
<center>
    <div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="align-items-center">
            <h2>Subscription Plans</h2>
            <div class="row justify-content-center">
              {% for plan in plans %}
              <div class="card shadow h-100 p-0 py-0 col-lg-4 col-sm-6 border border-primary mr-3 ml-3">
                <img class="card-img-top" src="{% static 'savannah/CardHeader.png' %}">
                <div class="card-body">
                  <h5 class="card-title">{{plan.product.name}}<br/>{{plan.name}}</h5>
                    <div class="mb-1 font-weight-bold text-gray-800">${{plan.amount}}/{{plan.interval}}</div>
                  <div class="card-text">
                    <div class="p-2">
                      <ul class="p-0 text-left">
                        <li>Unlimited Members</li>
                        <li>
                            {{plan.metadata.sources|default:'Unlimited'}} Data Source{% if plan.metadata.sources != 1 %}s{% endif %}
                        </li>
                        <li>
                            {{plan.metadata.projects|default:'Unlimited'}} Project{% if plan.metadata.projects != 1 %}s{% endif %}
                        </li>
                        <li>
                            {{plan.metadata.tags|default:'Unlimited'}} Tag{% if plan.metadata.tags != 1 %}s{% endif %}
                        </li>
                        <li>
                            {{plan.metadata.managers|default:'Unlimited'}} Manager{% if plan.metadata.managers != 1 %}s{% endif %}
                        </li>
                        <li>
                            {% if plan.metadata.retention_days > 0 %}
                            {{plan.metadata.retention_days|day_duration}}
                            {% else%}Unlimited{% endif %} activity retention
                        </li>
                        <li>
                            {% if plan.metadata.import_days %}
                            {{plan.metadata.import_days|day_duration}}
                            {% else%}Unlimited{% endif %} past history imported
                        </li>
                      </ul>
                    </div>
                    <button onClick="subscribeClicked('{{plan.id}}');" class="btn {% if plan.amount > 0 %}btn-success{% else %}btn-primary{% endif %}" type="submit">{{plan.product.name}} {{plan.name}}</button>
                    <div class="mb-1 small text-gray-500">Cancel any time.</div>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>

            <div class="text-muted text-small">
            Savannah uses Stripe for payment processing
            </div>
        </div>
    </div>
    </div>
</center>
</div>
</div>
<!-- End row -->

{% endblock %}

{% block page_scripts %}
<script>
     var DOMAIN = window.location.origin;
 
      var stripe = Stripe("{{ STRIPE_KEY }}");
 
      // Handle any errors from Checkout
      var handleResult = function (result) {
        if (result.error) {
          var displayError = document.getElementById("error-message");
          displayError.textContent = result.error.message;
        }
      };
 
      // Create a Checkout Session with the selected plan ID
      var createCheckoutSession = function(plan_id) {
        return fetch("{% url 'billing:signup_subscribe_session' community.id %}?plan="+plan_id, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken":  '{{csrf_token}}',
          },
          // ... body section if you want to pass the product or price_id to the backend
        }).then(function(result) {
          return result.json();
        });
      };
 
    // Setup event handler to create a Checkout Session when button is clicked
    var subscribeClicked = function(plan_id) {
          createCheckoutSession(plan_id).then(function(data) {
            // Call Stripe.js method to redirect to the new Checkout page
            stripe
              .redirectToCheckout(
                {
                    sessionId: data.sessionId
                }
              )
              .then(handleResult);
          });
        };
</script>
{% endblock %}